<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-registry-heading" data-cy="RegistryCreateUpdateHeading" jhiTranslate="medmorInventoryApp.registry.home.createOrEditLabel">
        Create or edit a Registry
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="medmorInventoryApp.registry.amount" for="field_amount">Amount</label>
          <input type="number" class="form-control" name="amount" id="field_amount" data-cy="amount" formControlName="amount" />
          <div *ngIf="editForm.get('amount')!.invalid && (editForm.get('amount')!.dirty || editForm.get('amount')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('amount')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('amount')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="medmorInventoryApp.registry.product" for="field_product">Product</label>
          <select class="form-control" id="field_product" data-cy="product" name="product" formControlName="product">
            <option *ngIf="!editForm.get('product')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="productOption.id === editForm.get('product')!.value?.id ? editForm.get('product')!.value : productOption"
              *ngFor="let productOption of productsSharedCollection; trackBy: trackProductById"
            >
              {{ productOption.lote }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['product'])!.invalid && (editForm.get(['product'])!.dirty || editForm.get(['product'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['product'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="medmorInventoryApp.registry.section" for="field_section">Section</label>
          <select class="form-control" id="field_section" data-cy="section" name="section" formControlName="section">
            <option *ngIf="!editForm.get('section')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="sectionOption.id === editForm.get('section')!.value?.id ? editForm.get('section')!.value : sectionOption"
              *ngFor="let sectionOption of sectionsSharedCollection; trackBy: trackSectionById"
            >
              {{ sectionOption.productType }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['section'])!.invalid && (editForm.get(['section'])!.dirty || editForm.get(['section'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['section'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
