<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-product-heading" data-cy="ProductCreateUpdateHeading" jhiTranslate="medmorInventoryApp.product.home.createOrEditLabel">
        Create or edit a Product
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="medmorInventoryApp.product.productSize" for="field_productSize"
            >Product Size</label
          >
          <select class="form-control" name="productSize" formControlName="productSize" id="field_productSize" data-cy="productSize">
            <option [ngValue]="null">{{ 'medmorInventoryApp.ProductSize.null' | translate }}</option>
            <option value="S">{{ 'medmorInventoryApp.ProductSize.S' | translate }}</option>
            <option value="M">{{ 'medmorInventoryApp.ProductSize.M' | translate }}</option>
            <option value="L">{{ 'medmorInventoryApp.ProductSize.L' | translate }}</option>
            <option value="XL">{{ 'medmorInventoryApp.ProductSize.XL' | translate }}</option>
            <option value="XXL">{{ 'medmorInventoryApp.ProductSize.XXL' | translate }}</option>
          </select>
          <div *ngIf="editForm.get('productSize')!.invalid && (editForm.get('productSize')!.dirty || editForm.get('productSize')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('productSize')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="medmorInventoryApp.product.color" for="field_color">Color</label>
          <input type="text" class="form-control" name="color" id="field_color" data-cy="color" formControlName="color" />
          <div *ngIf="editForm.get('color')!.invalid && (editForm.get('color')!.dirty || editForm.get('color')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('color')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="medmorInventoryApp.product.price" for="field_price">Price</label>
          <input type="number" class="form-control" name="price" id="field_price" data-cy="price" formControlName="price" />
          <div *ngIf="editForm.get('price')!.invalid && (editForm.get('price')!.dirty || editForm.get('price')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('price')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('price')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="medmorInventoryApp.product.fragile" for="field_fragile">Fragile</label>
          <input type="checkbox" class="form-check" name="fragile" id="field_fragile" data-cy="fragile" formControlName="fragile" />
          <div *ngIf="editForm.get('fragile')!.invalid && (editForm.get('fragile')!.dirty || editForm.get('fragile')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('fragile')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="medmorInventoryApp.product.lote" for="field_lote">Lote</label>
          <input type="text" class="form-control" name="lote" id="field_lote" data-cy="lote" formControlName="lote" />
          <div *ngIf="editForm.get('lote')!.invalid && (editForm.get('lote')!.dirty || editForm.get('lote')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('lote')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('lote')?.errors?.pattern"
              jhiTranslate="entity.validation.pattern"
              [translateValues]="{ pattern: 'Lote' }"
            >
              This field should follow pattern for "Lote".
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="medmorInventoryApp.product.containerType" for="field_containerType"
            >Container Type</label
          >
          <select
            class="form-control"
            name="containerType"
            formControlName="containerType"
            id="field_containerType"
            data-cy="containerType"
          >
            <option [ngValue]="null">{{ 'medmorInventoryApp.ContainerType.null' | translate }}</option>
            <option value="Cardboard">{{ 'medmorInventoryApp.ContainerType.Cardboard' | translate }}</option>
            <option value="Plastic">{{ 'medmorInventoryApp.ContainerType.Plastic' | translate }}</option>
            <option value="Glass">{{ 'medmorInventoryApp.ContainerType.Glass' | translate }}</option>
            <option value="Nylon">{{ 'medmorInventoryApp.ContainerType.Nylon' | translate }}</option>
          </select>
          <div
            *ngIf="
              editForm.get('containerType')!.invalid && (editForm.get('containerType')!.dirty || editForm.get('containerType')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('containerType')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
